<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="layout/layout :: frag-header"></header>
	<main>

		<section class="section">
			<div class="card-body" style="text-align: left;">

				<div th:object="${course}" class="row g-3 needs-validation">
					<div class="card text-center">
						<div class="card-header">Lista de Secciones</div>
						<div class="card-body">

							<table class="table">
								<thead>
									<tr class="table-danger">
										<th scope="col"></th>
										<th scope="col">Codigo</th>
										<th scope="col">Nombre</th>
										<th scope="col">Profesor</th>
										<th scope="col">Dia de Clase</th>
										<th scope="col">Hora de Inicio</th>
										<th scope="col">Hora de Finalizacion</th>
										<th scope="col">Vacantes</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="section : ${sections}"
										th:if="${course.id == section.course.id}">
										<td><input class="form-check-input" type="radio"
											name="flexRadioDefault" id="flexRadioDefault1"></td>
										<th scope="row" th:text="${section.id}"></th>
										<td th:text="${section.course.name}"></td>
										<td th:text="${section.teacher.lastName}"></td>
										<td th:text="${section.day}"></td>
										<td th:text="${section.startTime}"></td>
										<td th:text="${section.endTime}"></td>
										<td th:text="${section.vacancies}"></td>
									</tr>
								</tbody>
							</table>

							<div class="col-12" style="text-align: center;">
								<button class="btn btn-warning" type="submit">
									<i class="fas fa-plus"></i> Seleccionar
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>