<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="frag-head">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<script src="https://kit.fontawesome.com/65219acda5.js"
	crossorigin="anonymous"></script>
<link th:href="@{/css/solid.min.css}" rel="stylesheet">
<link th:href="@{/css/header.css}" rel="stylesheet">
<title>StuMatch</title>
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>
<body>
	<header th:fragment="frag-header" style="background-color: #320000; color:white">
		<nav class="navbar navbar-expand-lg" >
			<div class="container-fluid">
				<a href="/"
					class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					<img class="bi pe-none me-2" th:src="@{/img/Logo.png}"
					width="100em" height="25em" alt="">
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link"  style="color: white" href="#">
								Mi Perfil</a></li>
						<li class="nav-item"><a class="nav-link"  style="color: white" th:href="@{/enrollments}">
								Matricula</a></li>
						<li class="nav-item"><a class="nav-link"  style="color: white" href="#"> Mis
								Pagos</a></li>
						<li class="nav-item"><a class="nav-link"  style="color: white" href="#">Configuración</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<footer class="sticky-footer text-center p-2" th:fragment="frag-footer"
		style="background-color: #320000; color: white">
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; StuMatch 2022</span>
			</div>
		</div>
	</footer>
</body>
</html>