<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Nuevo Profesor</title>
</head>
<body>
	<header th:replace="/layout/layout :: frag-header"></header>
	<main>
	
	<section class ="section">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="#">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/teachers}">Profesores</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Create</li>
		  </ol>
		</nav>
	
		<div class="card text-center">
		  <div class="card-header">
		    Profesor
		  </div>
		  <div class="card-body" style="text-align: left;">
			<form th:action="@{/teachers/savenew}" th:object="${teacher}" method="post" class="row g-3 needs-validation" novalidate>
				  <div class="col-md-2">
				    <label for="id" class="form-label">Codigo</label>
				    <input type="text" class="form-control" th:field="*{id}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				  <div class="col-md-4">
				    <label for="lastName" class="form-label">Apellidos</label>
				    <input type="text" class="form-control" th:field="*{lastName}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				   <div class="col-md-4">
				    <label for="firstName" class="form-label">Nombres</label>
				    <input type="text" class="form-control" th:field="*{firstName}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				    <div class="col-md-4">
				    <label for="age" class="form-label">Edad</label>
				    <input type="text" class="form-control" th:field="*{age}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				    <div class="col-md-4">
				    <label for="dni" class="form-label">DNI</label>
				    <input type="text" class="form-control" th:field="*{dni}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				    <div class="col-md-4">
				    <label for="phoneNumber" class="form-label">Numero</label>
				    <input type="text" class="form-control" th:field="*{phoneNumber}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				    <div class="col-md-4">
				    <label for="emailUniversity" class="form-label">Correo Universitario</label>
				    <input type="text" class="form-control" th:field="*{emailUniversity}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				  
				  <div class="col-md-3">
				    <label for="career" class="form-label">Carrera</label>
				    <select class="form-select" th:field="*{career}" required>
				      <option value="">Elige una Carrera</option>
				      <option th:each="career : ${careers}" th:value="${career.id}" th:text="${career.name}"></option>
				    </select>
				    <div class="invalid-feedback">
				      Please select a valid state.
				    </div>
				  </div>
					  
				  <div class="col-12" style="text-align: center;">
				    <button class="btn btn-success" type="submit"><i class="fas fa-plus"></i> Create</button>
				  </div>
				</form>
						  
						  
						  
 		</div>
		  
		</div>
	</section>
	
	</main>
	<footer th:replace="/layout/layout :: frag-footer"></footer>
</body>
</html>