<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Nuevo Estudiante</title>
<body>
	<header th:replace="/layout/layout :: frag-header"></header>
	<main>

		<section class="section">
			<nav class="mt-3 mx-3" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page"><a
						th:href="@{/students}">Estudiantes</a></li>
					<li class="breadcrumb-item active" aria-current="page">Crear</li>
				</ol>
			</nav>
			<div class="card text-center">
				<div class="card-header">Estudiante</div>
				<div class="card-body" style="text-align: left;">
				
		<form th:action="@{/roles/save}" th:object="${role}" method="post">
			
					
						<div class="col-md-3">
							<label for="name" class="form-label">Role: </label>
							<div class="col-sm-6">
								<select name="select" th:field="*{rol}" class="custom-select custom-select-sm">
									<option value="ROLE_ADMIN">Administrador</option>
									<option value="ROLE_STUDENT" selected>Alumno</option>
									<option value="ROLE_TEACHER">Profesor</option>
					
								</select>

							</div>
						</div>

						<div class="col-md-3">
							<label for="color" class="form-labell">Usuario: </label>
							<div class="col-sm-6">
								<select class="custom-select custom-select-sm"
									th:field="*{user}">
									<option th:each="u : ${listaUsuarios}" th:value="${u.id}"
										th:utext="${u.username}" />
								</select>
							</div>
						</div>



						<div class="form-group row">
							<div class="col-sm-6">
								<input type="submit" value="Guardar" class="btn btn-secondary"></input>
								<a href="/roles/list" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
						<p th:text="${mensaje}" class="form-text text-danger"></p>

					</form>

				
					
				
				
				</div>
				
			</div>

		</section>

	</main>
	<footer th:replace="/layout/layout :: frag-footer"></footer>
</body>
</html>